<div>
  <mat-card>
    <div class="bg-gray-400 w-full h-36 flex justify-between items-center p-4">
      <a routerLink="dashboard" class="btn">Dashboard</a>
      <div class="btn">Signup</div>
      <div class="btn">Login</div>
      <div class="btn">Logout</div>
    </div>
  </mat-card>
</div>

<router-outlet></router-outlet>

<div>
  <mat-card>
    <div class="bg-gray-400 w-full h-22 flex justify-between items-center p-4">
      <div class="text-lg">Video Library</div>

      <div>Developed By <br> Mahfuzur Rahman</div>
    </div>
  </mat-card>
</div>
