<div>
  <mat-card>
    <div class="bg-gray-400 w-full h-36 flex justify-between items-center p-4">
      <div>
        <a routerLink="dashboard" class="btn">Dashboard</a>
      </div>
      <div class="flex justify-end items-center space-x-4">
        <div class="btn">
          <a routerLink="sign-up" class="btn">Signup</a>
        </div>
        <div class="btn">
          <a routerLink="login" class="btn">Login</a>
        </div>
        <div (click)="logOut()" class="btn">Logout</div>
      </div>
    </div>
  </mat-card>
</div>

<router-outlet></router-outlet>

<div>
  <mat-card>
    <div class="bg-gray-400 w-full h-22 flex justify-between items-center p-4">
      <div class="text-lg">Video Library</div>

      <div>Developed By <br> Mahfuzur Rahman</div>
    </div>
  </mat-card>
</div>
