/* You can add global styles to this file, and also import other style files */

@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn {
  background: darkslateblue;
  border-radius: 10%;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background: indianred;
}
